@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    /*Fundo para a página*/
    background-image: url("AdobeStock_572306732.jpeg");
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    /*Fonte para a página*/
    font-family: "Open Sans", "sans-serif";
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

#menu-h{
    border-radius: 5px;
    backdrop-filter: blur(3px);
    }
    #menu-h ul {
    max-width: 1880px;
    list-style: none;
    padding: 0;
    margin-top: 0;
    }
    #menu-h ul li {
    display: inline;
    }
    #menu-h ul li a {
    color: #FFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;    
    }
    #menu-h ul li a:hover {
    background-color: #59958C;  
    }
    #menu-h ul li:last-child a:hover {
    float: right;
    background-color: #032A5C;
    }
    #menu-h li:last-child a{
    float: right;
    background-color: #032A5C;
    
    }
    #menu-h form{
    color: #FFF;
    padding: 10px;
    display: inline-flex;
    text-decoration: none;
    }


.container {
    /*Definindo lado da tela que a div ficara*/
    float: left;
    /*margen adicionada para que não ficasse muito no canto da página*/
    margin: 100px;
    /*largura da nossa caixa div*/
    width: 400px;
    /*cor da caixa*/
    background-color: #fff;
    /*borda circular*/
    border-radius: 10px;
    /*Uma propriedade padding define uma distância entre o conteúdo de um elemento e suas bordas. É um atalho que evita definir uma distância para cada lado separadamente ( padding-top, padding-right, padding-bottom, padding-left).*/
    padding: 20px;
}

img {
    /*alinhando imagem ao centro da form*/
    text-align: center;
}

label {
    /*definindo tamanho da fonte*/
    font-size: 16px;
    /*definindo a distancia dos botões*/
    margin-bottom: 10px;
}

input[type="text"], input[type="password"] {
    background-color: #FAF5F3;
    /*ocupando de largura*/
    width: 95%;
    /*Uma propriedade padding define uma distância entre o conteúdo de um elemento e suas bordas. É um atalho que evita definir uma distância para cada lado separadamente ( padding-top, padding-right, padding-bottom, padding-left).*/
    padding: 10px;
    /*bordas em fotmato circular*/
    border-radius: 5px;
    /* deixando a borda transpatente */
    border: none;
    /*definindo a distancia para os botões*/
    margin-bottom: 20px;
    /*quando vc clicar vai ficar selecionado com a caixa dessa cor abaixo*/
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    text-decoration: none;
}

button[type="submit"] {
    text-decoration: none;
    /*ocupando toda a largura*/
    width: 100%;
    /* cor da barra */
    background-color: /*#F87599*/ #032A5C;
    /*cor da letra */
    color: #ffffff;
    /*Uma propriedade padding define uma distância entre o conteúdo de um elemento e suas bordas. É um atalho que evita definir uma distância para cada lado separadamente ( padding-top, padding-right, padding-bottom, padding-left).*/
    padding: 10px;
    /*bordas em fotmato circular*/
    border-radius: 5px;
    /*deixando a borda transpatente */
    border: none;
    /*definindo a distancia dos botões*/
    margin-bottom: 20px;
    /**/
    cursor: pointer;
    /*quando vc clicar vai ficar selecionado com a caixa dessa cor abaixo*/
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
   
}
button[type="submit2"] {
    text-decoration: none;
    /*ocupando toda a largura*/
    width: 100%;
    /*cor do botão*/
    background-color: #59958C;
    /*cor da letra*/
    color: #FAF5F3;
    /*Uma propriedade padding define uma distância entre o conteúdo de um elemento e suas bordas. É um atalho que evita definir uma distância para cada lado separadamente ( padding-top, padding-right, padding-bottom, padding-left)*/
    padding: 10px;
    /*bordas em fotmato circular*/
    border-radius: 5px;
    /*deixando a borda transpatente*/
    border: none;
    /*definindo a distancia para os botões */
    margin-bottom: 20px;
    /*cursor especifica o cursor do mouse mostrado quando o ponteiro do mouse está sobre um elemento.*/
    cursor: pointer;
    /*quando vc clicar vai ficar selecionado com a caixa dessa cor abaixo*/
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    text-decoration: none;
}
.esquecersenha{
    /*a distancia do bloco acima*/
    margin-top: -9px;
    /*O elemento block sempre começa em uma nova linha e se expande pra esquerda e direita o tanto quanto for possível.*/
    display: block;
    /*deixando o texto do lado direito*/
    text-align: right;
    /*cor da fonta*/
    color:black;
    /* Tirando sublinhamento do nome esqueceu senha*/
    text-decoration: none;
    /*tamanho da fonte*/
    font-size: 12px;
}
.linkadm{
    /*cor da fonte*/
    color: #fff;
    /* Tirando sublinhamento do nome esqueceu senha*/
    text-decoration: none;
}
a{
    text-decoration: none;
    color: white;
}
