body {
    /*Fundo para a página*/
    background-image: url("fundo.jpeg");
    /*Fonte para a página*/
    font-family: "Open Sans", "sans-serif";
}


.container {
    /*Definindo lado da tela que a div ficara*/
    float: right;
    /*margen adicionada para que não ficasse muito no canto da página*/
    margin: 100px;
    /*largura da nossa caixa div*/
    width: 400px;
    /*cor da caixa*/
    background-color: #fff;
    /*borda circular*/
    border-radius: 10px;
    /*Uma propriedade padding define uma distância entre o conteúdo de um elemento e suas bordas. É um atalho que evita definir uma distância para cada lado separadamente ( padding-top, padding-right, padding-bottom, padding-left).*/
    padding: 20px;
}


img {
    /*alinhando imagem ao centro da form*/
    text-align: center;
    /*definindo a distancia da mesma para o botão*/
    margin-bottom: 20px;
}


label {
    /*definindo tamanho da fonte*/
    font-size: 16px;
    /*definindo a distancia dos botões*/
    margin-bottom: 10px;
}


input[type="text"], input[type="password"] {
    /*ocupando de largura*/
    width: 95%;
    /*Uma propriedade padding define uma distância entre o conteúdo de um elemento e suas bordas. É um atalho que evita definir uma distância para cada lado separadamente ( padding-top, padding-right, padding-bottom, padding-left).*/
    padding: 10px;
    /*bordas em fotmato circular*/
    border-radius: 5px;
    /* deixando a borda transpatente */
    border: none;
    /*definindo a distancia para os botões*/
    margin-bottom: 20px;
    /*quando vc clicar vai ficar selecionado com a caixa dessa cor abaixo*/
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}


button[type="submit"] {
    /*ocupando toda a largura*/
    width: 100%;
    /* cor da barra */
    background-color: #F87599;
    /*cor da letra */
    color: #fff;
    /*Uma propriedade padding define uma distância entre o conteúdo de um elemento e suas bordas. É um atalho que evita definir uma distância para cada lado separadamente ( padding-top, padding-right, padding-bottom, padding-left).*/
    padding: 10px;
    /*bordas em fotmato circular*/
    border-radius: 5px;
    /*deixando a borda transpatente */
    border: none;
    /*definindo a distancia dos botões*/
    margin-bottom: 20px;
    /**/
    cursor: pointer;
    /*quando vc clicar vai ficar selecionado com a caixa dessa cor abaixo*/
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
button[type="submit2"] {
    /*ocupando toda a largura*/
    width: 100%;
    /*cor do botão*/
    background-color: #253C25;
    /*cor da letra*/
    color: #fff;
    /*Uma propriedade padding define uma distância entre o conteúdo de um elemento e suas bordas. É um atalho que evita definir uma distância para cada lado separadamente ( padding-top, padding-right, padding-bottom, padding-left)*/
    padding: 10px;
    /*bordas em fotmato circular*/
    border-radius: 5px;
    /*deixando a borda transpatente*/
    border: none;
    /*definindo a distancia para os botões */
    margin-bottom: 20px;
    /*cursor especifica o cursor do mouse mostrado quando o ponteiro do mouse está sobre um elemento.*/
    cursor: pointer;
    /*quando vc clicar vai ficar selecionado com a caixa dessa cor abaixo*/
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
a {
    /*a distancia do bloco acima*/
    margin-top: -9px;
    /*O elemento block sempre começa em uma nova linha e se expande pra esquerda e direita o tanto quanto for possível.*/
    display: block;
    /*deixando o texto do lado direito*/
    text-align: right;
    /*cor da fonta*/
    color: #253C25;
    /* Tirando sublinhamento do nome esqueceu senha*/
    text-decoration: none;
    /*tamanho da fonte*/
    font-size: 12px;
}
